.side-image {
    position: relative;
    height: 100%;
    width: 40%;
    background-color: #FF8989;
}

.logo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    height: 20%;
    width: 100%;
    background-color: #00000053;
    .logo__image {
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        img {
            height: 80%;
        }
    }
    .logo__text {
        margin: 0 0 0 5%;
        h1 {
            font-weight: 200;
            font-size: 30px;
            span {
                font-weight: 500;
            }
        }
    }
}