$light-color: #FFEADD;
$semi-light-color: #FCAEAE;
$semi-dark-color: #FF8989;

.login {
    display: flex;
    align-items: center;
    width: 60%;
    background: linear-gradient(45deg,$semi-light-color, $light-color);
    .login__wrapper {
        display: flex;
        height: 60%;
        flex-direction: column;
        justify-content: space-around;
        margin: 10%;
    }
}

.login__info {
    height: 30px;
    h1 {
        font-size: 48px;
        font-weight: 700;
    }
}

.login__forms {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.forms__item {
    margin: 20px 40px 20px 0;
    position: relative;
    label {
        // display: none;
        position: absolute;
        background-color: $semi-dark-color;
        border-radius: 3px;
        padding: 2px 3px;
        margin: 0 0 0 5px;
        top: 20px;
        z-index: 1;
        animation: label-up 0.3s ease-in-out 1s 1 normal forwards;
    }

    input {
        transition: all 0.5s ease-out;
        margin: 10px 0 0 0;
        padding: 8px 10px;
        background-color: transparent;
        border-bottom: 1px solid;
        border-color: #000000;
        &::placeholder {
            transition: color 0.3s ease;
        }
        &:focus {
            box-shadow: 0 0 4px 1px $semi-dark-color;
            border-color: $semi-dark-color;
            &::placeholder {
                color: transparent;
            }
        }
    }
}

.login-button__wrap {
    height: 20%;
    .login__button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $semi-dark-color;
        border-radius: 0.4em;
        padding: 10px 50px;
        white-space: nowrap;
        font-size: 18px;
    }
}

@keyframes label-up {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-24px);
    }
}
